.calendly-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calendly-inline-widget {
  width: 100%;
  height: 600px; /* Adjust height as needed */
}
h1 {
  text-align: center;
  font-size: 52px;
  background: -webkit-linear-gradient(blue, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}